<div class="background-image"></div>
  <div class="px-4 pt-5 my-5 text-center border-bottom" style="border-color: black; height: 100vh; width: 100vw;">
    <h1 class="display-4 fw-bold">Who Are We</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="line-height: 150%;">We are computer science students at the University of Florida who are interested in creating an open forum where our fellow classmates can connect with each other. In this forum, students can openly voice their concerns or feelings and meet new people in or out of your major. Our mission is to faciliate more communication among the student body at the University of Florida. Want to join our mission? Sign up today at no cost. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" fdprocessedid="arww2"  style="align-self: center;" routerLink="/signup">Sign up</button>
        
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="https://static.vecteezy.com/system/resources/previews/005/611/112/original/business-team-working-together-brainstorm-to-come-up-with-a-marketing-strategy-for-the-project-people-meeting-at-the-desk-in-the-office-cartoon-style-flat-illustration-vector.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="300" height="300" loading="lazy">
      </div>
    </div>
  </div>

