
<mat-toolbar style="background:linear-gradient(90deg, rgba(50, 50, 190, 1) 0%, rgba(153, 81, 38, 1) 100%);" class="mat-elevation-z8">
  <span style="font-family: montserrat; color: white; font-style: italic;font-weight: bolder; font-size: 25px; display: contents; cursor: pointer;" routerLink="/home" ><mat-icon svgIcon="gator" style=" width: 45px !important;
    height: 45px !important;display: inline-flex;align-self: center;"></mat-icon>&nbsp;GatorChat</span>
   <div class="space"></div>
   <a mat-button class="navBarButtons" style="color: white; font-size: 15px " routerLink="/home" routerLinkActive="active" >Home</a>
   <a mat-button class="navBarButtons" style="color: white; font-size: 15px" routerLink="/about">About Us</a>
   <a mat-button class="navBarButtons" style="color: white; font-size: 15px"routerLink="/login">Login</a>
   <a mat-raised-button  style="color: white; background-color: rgb(74, 74, 218); font-size: 15px;" class="navBarButtons" routerLink="/signup">Sign Up</a>
 
 </mat-toolbar>
 
 