.main-div mat-card{
  padding: 0px;
 
  
}

.login-form{
  padding: 20px;
  
}

.space{
  flex: 1 1 auto;
}

.navBarButtons{
  margin-right: 20px;
}

.icon{
  vertical-align: middle;

}

.outline{
  border-width: 20px;
  background-color: rgb(254, 240, 247);
 
}
