
<mat-toolbar color="primary" class="mat-elevation-z8">
 <span ><mat-icon class="icon">chat</mat-icon>&nbsp; &nbsp;GatorChat</span>
  <div class="space"></div>
  <a mat-button class="navBarButtons">Home</a>
  <a mat-button class="navBarButtons">About Us</a>
  <a mat-button class="navBarButtons">Services</a>
  <a mat-button class="navBarButtons">Chats</a>
  <a mat-raised-button color="accent" class="navBarButtons">Sign Up</a>

</mat-toolbar>

<div  fxLayoutAlign="center center" fxFlexFill class="outline">
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Login Page</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field>
          <input matInput placeholder="Username">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button type="submit" color="accent" (click)="getMethod()">Login</button>
       
      </form>
      
    </mat-card>
  </div>
  
</div>

