<mat-toolbar color="primary" class="mat-elevation-z8">
  <span ><mat-icon class="icon">chat</mat-icon>&nbsp; &nbsp;GatorChat</span>
   <div class="space"></div>
   <a mat-button class="navBarButtons">Home</a>
   <a mat-button class="navBarButtons">About Us</a>
   <a mat-button class="navBarButtons">Services</a>
   <a mat-button class="navBarButtons">Chats</a>
   <a mat-raised-button color="accent" class="navBarButtons">Login</a>
 
 </mat-toolbar>
 <div  fxLayoutAlign="center center" fxFlexFill class="outline">
   <div fxLayoutAlign="center center" fxFlexFill class="main-div">
     <mat-card fxFlex="25">
       <mat-toolbar color="primary">Sign Up Page</mat-toolbar>
       <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
         <mat-form-field>
           <input matInput placeholder="Create your username">
         </mat-form-field>
   
         <mat-form-field>
           <input matInput type="password" placeholder="Create your password">
         </mat-form-field>

         <mat-form-field>
          <input matInput type="password" placeholder="Confirm your password">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Email">
        </mat-form-field>
         <button mat-raised-button type="submit" color="accent">Sign Up</button>
        
       </form>
       
     </mat-card>
   </div>
   
 </div>
 
 