
 <div  fxLayoutAlign="center center" fxFlexFill class="outline">
   <div fxLayoutAlign="center center" fxFlexFill class="main-div">
     <mat-card fxFlex="25">
       <mat-toolbar color="primary">Sign Up Page</mat-toolbar>
       <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" #signUpForm="ngForm" (ngSubmit)="onCreateUser()">
        <mat-form-field>
          <input matInput type="email"  name="email" placeholder="Email" [(ngModel)]="user.email" #Email="ngModel" required>
        </mat-form-field>
         <mat-form-field>
           <input matInput name="username" name="username" placeholder="Create your username"  [(ngModel)]="user.username" #Username="ngModel" required>
         </mat-form-field>
   
         <mat-form-field>
           <input matInput type="password" placeholder="Create your password" required>
         </mat-form-field>

         <mat-form-field>
          <input matInput name="password" type="password" name="password" placeholder="Confirm your password" [(ngModel)]="user.password" #Password="ngModel" required>
        </mat-form-field>
        
         <button mat-raised-button type="submit" [disabled]="!signUpForm.valid" color="primary">Sign Up</button>
        
       </form>
       <p style="align-self: center;">Already a User? &nbsp;<a routerLink="/login">Log in</a></p>
     </mat-card>
   </div>
   
 </div>
 
 