<mat-toolbar style="background:linear-gradient(90deg, rgba(50, 50, 190, 1) 0%, rgba(153, 81, 38, 1) 100%);" class="mat-elevation-z8">
  <span style="font-family: montserrat; color: white; font-style: italic;font-weight: bolder; font-size: 25px; display: contents; cursor: pointer;"
    (click)="goBack()">
    <mat-icon svgIcon="gator" style=" width: 45px !important;
    height: 45px !important;display: inline-flex;align-self: center;"></mat-icon>&nbsp;GatorChat
  </span>
  <div class="space"></div>
</mat-toolbar>
<div style="background-color: rgb(255, 251, 251); height: 100vh; width: 100vw; margin: 0; padding: 0; border: 0; outline: 0;">

<div class="wrapper mt-sm-5" style="background:linear-gradient(90deg, rgb(163, 163, 244) 0%, rgb(234, 147, 96) 100%); align-items: stretch; display: flex; ">
  
<div class="container py-5">
  <div class="row" >
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4"    style="background:linear-gradient(90deg, rgb(197, 197, 237) 0%, rgb(245, 195, 166) 100%);">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a routerLink = "/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item"><a routerLink = "/settings">Settings</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Settings</li>
        </ol>
      </nav>
    </div>
  </div>
  <h4 class="pb-4 border-bottom" style="color: white; font-size: large;">ACCOUNT SETTINGS</h4>
  <!-- <div class="d-flex align-items-start py-3 border-bottom">
      <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          class="img" alt="">
      <div class="pl-sm-4 pl-2" id="img-section">
          <b>Profile Photo</b>
          <p>Accepted file type .png. Less than 1MB</p>
          <button class="btn button border"><b>Upload</b></button>
      </div>
  </div> -->
  <div class="py-2">
      <div class="row py-2">
          <div class="col-md-6" style="float: left;">
              <label for="firstname" style="color: white;">Full Name</label>
              <span [style.display]="editing?'none':null" class="bg-light form-control" style="display: inline-block; margin-bottom: 10px;">{{fullName}}</span>
              <input #inputID [style.display]="!editing?'none':null"  class="bg-light form-control" [(ngModel)]="this.fullName" (blur)="editing=false" style="display:inline-block; margin-bottom: 10px;">
              <a mat-raised-button (click)="editFieldFN(inputID)" style="width: 50px; height: 30px; background-color: orange; margin-right: 10px; ;">Edit</a>
              <a mat-raised-button (click)="saveFieldFN()" style="width: 50px; height: 30px; background-color: rgb(95, 100, 223); color: white">Save</a>
              <!-- <input type="text" class="bg-light form-control"style="padding-right: 10px" placeholder={{fullName}} [(ngModel)]="this.fullName"> -->
          </div>
          <div class="col-md-6 pt-md-0 pt-3">
            <label for="phone" style="color: white;">Phone Number</label>
            <span [style.display]="editing?'none':null" class="bg-light form-control" style="display: inline-block; margin-bottom: 10px;">{{phone}}</span>
              <input #inputID2 [style.display]="!editing?'none':null"  class="bg-light form-control" [(ngModel)]="this.phone" (blur)="editing=false" style="display:inline-block; margin-bottom: 10px;">
              <a mat-raised-button (click)="editFieldPN(inputID2)" style="width: 50px; height: 30px; background-color: orange; margin-right: 10px;">Edit</a>
              <a mat-raised-button (click)="saveFieldPN()" style="width: 50px; height: 30px; background-color: rgb(95, 100, 223); color: white">Save</a>
        </div>
          <!-- <div class="col-md-6 pt-md-0 pt-3">
              <label for="lastname" style="color: white;">Last Name</label>
              <input type="text" class="bg-light form-control" placeholder={{lastN}}>
          </div> -->
      </div>
      <div class="row py-2">
        
          <div class="col-md-6">
              <label for="email" style="color: white;">Username</label>
              <span [style.display]="editing?'none':null" class="bg-light form-control" style="display: inline-block; margin-bottom: 10px;">{{username}}</span>
              <input #inputID3 [style.display]="!editing?'none':null"  class="bg-light form-control" [(ngModel)]="this.username" (blur)="editing=false" style="display:inline-block; margin-bottom: 10px;">
              <a mat-raised-button (click)="editFieldU(inputID3)" style="width: 50px; height: 30px; background-color: orange; margin-right: 10px;">Edit</a>
              <a mat-raised-button (click)="saveFieldU()" style="width: 50px; height: 30px; background-color: rgb(95, 100, 223); color: white">Save</a>
              
              
          </div>
         
      </div>
      <div class="row py-2">
        <h4 class="pb-4 border-bottom" style="color: white; font-size: large; margin-top: 5px;">Update Password</h4>
      <div class="col-md-6">
        <label for="email" style="color: white;">Old Password</label>
        <input type="text" class="bg-light form-control" placeholder="Type in your old password" [(ngModel)]="this.password">
    </div>
      
    <div class="col-md-6">
        <label for="email" style="color: white;">New Password</label>
        <input type="text" class="bg-light form-control" placeholder="Type in your new password" [(ngModel)]="this.newPassword">
    </div>
</div>
      <!-- <div class="row py-2">
          <div class="col-md-6">
              <label for="country">Country</label>
              <select name="country" id="country" class="bg-light">
                  <option value="india" selected>India</option>
                  <option value="usa">USA</option>
                  <option value="uk">UK</option>
                  <option value="uae">UAE</option>
              </select>
          </div>
          <div class="col-md-6 pt-md-0 pt-3" id="lang">
              <label for="language">Language</label>
              <div class="arrow">
                  <select name="language" id="language" class="bg-light">
                      <option value="english" selected>English</option>
                      <option value="english_us">English (United States)</option>
                      <option value="enguk">English UK</option>
                      <option value="arab">Arabic</option>
                  </select>
              </div>
          </div>
      </div> -->
      <div class="py-3 pb-4 border-bottom">
          <button class="btn btn-primary mr-3" (click)="saveAs()">Update Password</button>
          <button class="btn border button" style="color: blue;" onClick = "window.location.reload();">Cancel</button>
      </div>
      <div class="d-sm-flex align-items-center pt-3" id="deactivate">
          <div>
              <b style="color: white;">Delete your account?</b>
              
          </div>
          <div class="ml-auto">
              <button class="btn danger" (click)="deleteUser()" >Delete Account</button>
          </div>
      </div>
  </div>
</div>
</div>