<mat-toolbar style="background:linear-gradient(90deg, rgba(50, 50, 190, 1) 0%, rgba(153, 81, 38, 1) 100%);" class="mat-elevation-z8">
    <span style="font-family: montserrat; color: white; font-style: italic;font-weight: bolder; font-size: 25px; display: contents; cursor: pointer;"
      (click)="goBack()">
      <mat-icon svgIcon="gator" style=" width: 45px !important;
      height: 45px !important;display: inline-flex;align-self: center;"></mat-icon>&nbsp;GatorChat
    </span>
    <div class="space"></div>
  </mat-toolbar>
  <!-- <div *ngIf="currentConvo != null">
    <ul class="list-group list-group-light">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <div class="fw-bold">John Doe</div>
          <div class="text-muted">john.doe@gmail.com</div>
        </div>
        <span class="badge rounded-pill badge-success">Active</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <div class="fw-bold">Alex Ray</div>
          <div class="text-muted">alex.ray@gmail.com</div>
        </div>
        <span class="badge rounded-pill badge-primary">Onboarding</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <div class="fw-bold">Kate Hunington</div>
          <div class="text-muted">kate.hunington@gmail.com</div>
        </div>
        <span class="badge rounded-pill badge-warning">Awaiting</span>
      </li>
    </ul>
  </div> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
  
  <div class="container" style="margin-top: 15px;">
      <div class="row align-items-center">
          
          <div class="col-md-6">
              <div class="mb-3">
                  <h2 class="card-title">Contact List for {{this.currentUserUsername}}</h2>
              </div>
              <nav class="navbar navbar-light bg-light" style="display: inline;">
                  <div class="form-inline">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button class="input-group-text" id="basic-addon1">@</button>
                      </div>
                      <input type="text" class="form-control" placeholder="Username (username#id)" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="this.searchValue">
                      <a mat-raised-button (click)="searchContact()">Search</a>
                    </div>
                  </div>
                </nav>
              
          </div>
          
          <div class="col-md-6">
              
              <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                  <div>
                      <ul class="nav nav-pills">
                          <li class="nav-item">
                              <a
                                  aria-current="page"
                                  href="#"
                                  class="router-link-active router-link-exact-active nav-link active"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  title=""
                                  data-bs-original-title="List"
                                  aria-label="List"
                              >
                                  <i class="bx bx-list-ul"></i>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Grid" aria-label="Grid"><i class="bx bx-grid-alt"></i></a>
                          </li>
                      </ul>
                  </div>
                  <!-- <div>
                      <a href="#" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
                  </div> -->
                  <!-- <div class="dropdown">
                      <a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-dots-horizontal-rounded"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </div> -->
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="">
                  <div class="table-responsive">
                      <table class="table project-list-table table-nowrap align-middle table-borderless">
                          <thead>
                              <tr>
                                  <th scope="col" class="ps-4" style="width: 50px;">
                                      <div class="form-check font-size-16"><input type="checkbox" class="form-check-input" id="contacusercheck" /><label class="form-check-label" for="contacusercheck"></label></div>
                                  </th>
                                  <th scope="col">Username</th>
                                  <th scope="col">ID</th>
                                  <!-- <th scope="col">Phone</th> -->
                                  <!-- <th scope="col">Projects</th> -->
                                  <th scope="col" style="width: 190px;">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let contact of contactList">
                              
                                <th scope="row" class="ps-4">
                                    <!-- <div class="form-check font-size-16"><input type="checkbox" class="form-check-input" id="contacusercheck1" /><label class="form-check-label" for="contacusercheck1"></label></div>
                                </th> -->
                                <td><div *ngIf="!contact?.length">{{contact.username}}<span>{{contact.array | json}}</span></div></td>
                                <td><span class="badge badge-soft-success mb-0">{{contact.id}}</span></td>
                                <!-- <td>SimonRyles@minible.com</td> -->
                                <td>
                                    <ul class="list-inline mb-0">
                                        
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger" (click)="deleteContact(contact.id,contact.username)"><i class="bx bx-trash-alt font-size-18"></i></a>
                                        </li>
                                        <!-- <li class="list-inline-item dropdown">
                                            <a class="text-muted dropdown-toggle font-size-18 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-vertical-rounded"></i></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </li> -->
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                         
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <div class="row g-0 align-items-center pb-4">
          <div class="col-sm-6">
              <div><p class="mb-sm-0">Showing {{contactList.length}} entries</p></div>
          </div>
          <div class="col-sm-6">
              <div class="float-sm-end">
                  <ul class="pagination mb-sm-0">
                      <li class="page-item disabled">
                          <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                      </li>
                      <li class="page-item active"><a href="#" class="page-link">1</a></li>
                      <li class="page-item"><a href="#" class="page-link">2</a></li>
                      <li class="page-item"><a href="#" class="page-link">3</a></li>
                      <li class="page-item"><a href="#" class="page-link">4</a></li>
                      <li class="page-item"><a href="#" class="page-link">5</a></li>
                      <li class="page-item">
                          <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>