<div >
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" >

        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://static.vecteezy.com/system/resources/previews/011/064/985/original/blank-message-bubbles-chat-in-cartoon-style-empty-chat-bubbles-design-blank-sms-text-frame-doodle-drawing-smartphone-with-conversation-chat-screen-with-blue-message-bubbles-messaging-app-vector.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-5">
          <h1 class="display-5 fw-bold lh-1 mb-3" style="line-height: 150%;">GATOR CHAT <br> <br> A forum where the Gator Nation can connect with one <br>another.<br></h1>
          <br>
          <h2 style="font-weight: bold">Our Mission: </h2>
          <p class="lead" style="font-style: italic; line-height: 150%; ">"The student body of the University of Florida can coverse <br> with one another and build long-lasting connections. <br> Go Gators!"</p><br>
          
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" fdprocessedid="ukeuyg" routerLink="/about">Learn more</button>
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" fdprocessedid="ukeuyg" routerLink="/signup">Get Started</button>
            
          </div>
        </div>
      </div>
</div>
