<mat-toolbar style="background:linear-gradient(90deg, rgba(50, 50, 190, 1) 0%, rgba(153, 81, 38, 1) 100%);" class="mat-elevation-z8">
  <span style="font-family: montserrat; color: white; font-style: italic;font-weight: bolder; font-size: 25px; display: contents; cursor: pointer;" routerLink="/dashboard" ><mat-icon svgIcon="gator" style=" width: 45px !important;
    height: 45px !important;display: inline-flex;align-self: center;"></mat-icon>&nbsp;GatorChat</span>
   <div class="space"></div>
   <a mat-raised-button  style="color: white; background-color: rgb(218, 129, 74); font-size: 15px; position:absolute; right:0; margin-right: 130px;" class="navBarButtons" routerLink="/dashboard">Back to Dashboard</a>
   <a mat-raised-button  style="color: white; background-color: rgb(74, 74, 218); font-size: 15px; position:absolute; right:0; margin-right: 10px;" class="navBarButtons" routerLink="/login">Sign Out</a>
 
 </mat-toolbar>
