$right-bubble-background: rgb(0, 122, 255);
$left-bubble-background: rgb(209, 122, 41);
$background: white;
$message-color: white;
$message-font: 'San Francisco', sans-serif;




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(90deg, rgb(137, 137, 238) 0%, rgba(153, 81, 38, 1) 100%);;

}

.card{
    background: $background;
    height:  90vh;
    min-width: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px, 0px, 10px) black;
}

.chat-list {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: scroll;

   .chat-item{
    max-width: 80%;
    margin: 8px 0px;
    display: flex;
    flex-direction: row;
    

    #message-body{
        margin: auto 8px;
        //background: $bubble-background;
        padding: 10px 24px;
        border-radius: 33px;
        color: $message-color;
        font-family: $message-font;
    }

    .toggle-menu {
      display: inline-block;
      position: relative;
      top: 0;
      border: 1px solid rgb(186, 170, 170);
      padding: 5px;
      z-index: 1;
      border-radius: 15px;
      background-color: grey;
  }


    #avatar{
        height: 36px;
        width: 36px;
        object-fit: cover;
        border-radius: 50%;
        z-index: 99;
        border: 3px solid $background;
    }

    #time-details
    {
        color: black;
        height: fit-content;
        margin: auto;
        padding-top: 16px;
        
    }
   }

   .left{
    margin-right: auto;
    margin-left: 8px;
    #message-body{
        margin-left: -15px;
        margin-top: 10px;
        background: rgb(209, 122, 41);

    }

        }
   .right{
    margin-right: 8px;
    margin-left: auto;
    flex-direction: row-reverse;
    #message-body{
        margin-right: -15px;
        margin-top: 10px;
        background: $right-bubble-background;

    }    

    }
}

.date-divider
{
  color: grey;
  text-align: center;
}

.chat-footer
{
    display: flex;
    flex-direction: row;
    padding: 16px;


  #chat-textarea
  {
    flex: 1;
    background-color: $right-bubble-background;
    color: $message-color;
    font-family: $message-font;
    margin: 0 6px;
    border: 1px solid white;
    border-radius: 5px;
    filter: drop-shadow(-5px 0px 8px grey);

  }
  #send-button
  {
    background: $right-bubble-background;
    img
    {
        object-fit: cover;
        height: 32px;
        width: 30px;
    }

  }
}
.search-footer
{
    display: flex;
    flex-direction: row;
    padding: 0px;


  #chat-searcharea
  {
    flex: 1;
    background-color:  $right-bubble-background;
    color: $message-color;
    font-family: $message-font;

  }
  #search-button
  {
    background: $right-bubble-background;
    flex: 0;
    img
    {
        object-fit: cover;
        height: 32px;
        width: 30px;
    }

  }
}

