<mat-toolbar style="background:linear-gradient(90deg, rgba(50, 50, 190, 1) 0%, rgba(153, 81, 38, 1) 100%);" class="mat-elevation-z8">
  <span style="font-family: montserrat; color: white; font-style: italic;font-weight: bolder; font-size: 25px; display: contents; cursor: pointer;"
  (click)="goBackTwice()"><mat-icon svgIcon="gator" style=" width: 45px !important;
  height: 45px !important;display: inline-flex;align-self: center;"></mat-icon>&nbsp;GatorChat</span>
   <div class="space"></div>
   <a mat-raised-button style="color: white; background-color: rgb(218, 129, 74); font-size: 15px; position:absolute; right:0; margin-right: 130px;" class="navBarButtons" 
   (click)="goBack()">Back to Conversations</a>
   <a mat-raised-button  style="color: white; background-color: rgb(74, 74, 218); font-size: 15px; position:absolute; right:0; margin-right: 10px;" class="navBarButtons" 
   routerLink="/login">Sign Out</a>

 </mat-toolbar>

 <div class="background-image"></div>
 <div class="container">
  <div class="card">
    <div class="user-name">
      <p id="name-display">{{ this.user1.name }}</p>
    </div>
    <div class="search-footer">
      <textarea id="chat-searcharea" [(ngModel)]="searchInputMessage"></textarea>
      <button id="search-button" (click)="search(searchInputMessage)" [disabled]="searchInputMessage?.length == 0">
        <img src="https://static.thenounproject.com/png/1016966-200.png">
      </button>
    </div>
    <div #chatList class="chat-list">
      <ng-container *ngFor="let item of chatMessages; let i=index;">
        <div *ngIf="i === 0 || !this.isSameDate(item.created_at, chatMessages[i - 1].created_at)" class="date-divider">
          {{ item.created_at | date: 'MMMM d, y'}}
        </div>
        <div class="chat-item" [ngClass]="{'right': item?.userId?.toString() == currentUser.id, 'left': item?.userId?.toString() != currentUser.id}">
          <div class="message-container">
            <p id="message-body" (click)="showToggleMenu($event, item)">
              {{item?.message}}
            </p>
            <img *ngIf="item?.image" [src]="item?.image" style="max-width:400px; max-height: 400px;" >
          </div>
          <div class="toggle-menu" *ngIf="item === currentMessage && currentMessage.userId != user1.id">
            <ul>
              <p *ngIf="!editMode" (click)="editMesssage()">Edit</p>
              <p (click)="delete(currentMessage.messageId);">Delete</p>
              <p (click)="closeToggle()">Close</p>
            </ul>
            <textarea id="edit-text-area" *ngIf="editMode" [(ngModel)]="editedMessage">{{ currentMessage.message}}</textarea>
            <button id="save-button" *ngIf="editMode" (click)="saveEditedMessage()">Save</button>
          </div>
          <span id="time-details">{{item?.created_at | date: 'shortTime'}}</span>
        </div>
      </ng-container>    
    </div>
    <button id="undo-button" *ngIf="showUndoButton"(click)="undo()">
      <img src="https://cdn-icons-png.flaticon.com/512/1/1702.png">
    </button>
    <div class="chat-footer">
      <textarea id="chat-textarea" [(ngModel)]="chatInputMessage"></textarea>
      <button id="image-button" (click)="fileInput.click()" [class.image_uploaded]="this.isImageUploaded">
        <img src="https://static.thenounproject.com/png/1156518-200.png">
      </button>
      <input type="file" #fileInput style="display:none" (change)="onImageSelect($event)"/>
      <button id="send-button" (click)="send()" [disabled]="chatInputMessage?.length == 0">
        <img src="https://img.icons8.com/ios11/600/000000/filled-sent.png">
      </button>
    </div>
  </div>
</div>