


<mat-toolbar style="background:linear-gradient(90deg, rgba(50, 50, 190, 1) 0%, rgba(153, 81, 38, 1) 100%);" class="mat-elevation-z8">
  <span style="font-family: montserrat; color: white; font-style: italic;font-weight: bolder; font-size: 25px; display: contents; cursor: pointer;"
  (click)="goBackTwice()"><mat-icon svgIcon="gator" style=" width: 45px !important;
  height: 45px !important;display: inline-flex;align-self: center;"></mat-icon>&nbsp;GatorChat</span>
   <div class="space"></div>
   <a mat-raised-button style="color: white; background-color: rgb(218, 129, 74); font-size: 15px; position:absolute; right:0; margin-right: 130px;" class="navBarButtons" 
   (click)="goBack()">Back to Conversations</a>
   <a mat-raised-button  style="color: white; background-color: rgb(74, 74, 218); font-size: 15px; position:absolute; right:0; margin-right: 10px;" class="navBarButtons" 
   routerLink="/login">Sign Out</a>
 
 </mat-toolbar>



 <div class="container">
  <div class="card">
    <div class="search-footer">
      <textarea id="chat-searcharea" [(ngModel)]="searchInputMessage"></textarea>
      <button id="search-button" (click)="search(searchInputMessage)" [disabled]="searchInputMessage?.length == 0">
        <img src="https://static.thenounproject.com/png/1016966-200.png">
      </button>
    </div>
    <div #chatList class="chat-list">
      <ng-container *ngFor="let item of chatMessages; let i=index;">
        <!-- Debugging statements -->
        <div *ngIf="i === 0 || !this.isSameDate(item.created_at, chatMessages[i - 1].created_at)" class="date-divider">
          {{item.created_at | date: 'MMMM d, y'}}
        </div>
        <div class="chat-item" 
          [ngClass]="{'right': item?.userId?.toString() == currentUser.id, 'left': item?.userId?.toString() != currentUser.id}">
          <p id="message-body" (click)="showToggleMenu($event, item)">{{item?.message}}</p>
          <span id="time-details">{{item?.created_at | date: 'shortTime'}}</span>
          <div class="toggle-menu" *ngIf="item === currentMessage">
            <ul>
              <p (click)="editMessage()">Edit</p>
              <p (click)="delete(currentMessage.messageId)">Delete</p>
              <p (click)="closeToggle()">Close</p>
            </ul>
          </div>
        </div>
      </ng-container>    
    </div>
    <div class="chat-footer">
      <textarea id="chat-textarea" [(ngModel)]="chatInputMessage"></textarea>
      <button id="send-button" (click)="send()" [disabled]="chatInputMessage?.length == 0">
        <img src="https://img.icons8.com/ios11/600/000000/filled-sent.png">
      </button>
    </div>
  </div>
</div>

